.head{
    text-align:center;
    margin-left:auto;
}
.datatool{
    margin-left: 50px;
    margin-right: 50px;
}
<<<<<<< HEAD
body{
    background-color: blue;
=======
h4{
    font-weight: bold;
>>>>>>> 0e6d49a49de0ef9127b9aeb487efc7dff4bb6fc4
}